  {{#if jogo}}
  <h2>Atualizar jogo</h2>
  <form action="/jogos/{{jogo.id}}/update" method="post">
  {{else}}
  <h2>Cadastrar jogo</h2>
  <form action="/jogos/novo" method="post">
  {{/if}}
      <div>
        <label for="titulo">título:</label>
        <input type="text" id="titulo" name="titulo" value="{{jogo.titulo}}"/>
      </div>
      <div>
        <label for="descricao">descrição:</label>
        <input type="text" id="descricao" name="descricao" value="{{jogo.descricao}}"/>
      </div>
       <div>
        <label for="precobase">preço:</label>
        <input type="text" id="precobase" name="precobase" value="{{jogo.precobase}}"/>
      </div>
      {{#if jogo}}
        <input type="submit" value="Salvar" />
      {{else}}
        <input type="submit" value="Cadastrar" />
      {{/if}}
    </form>
 
